.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: Roboto, sans-serif;
  background: white;

  padding-top: 5px;
  padding-bottom: 5px;

  z-index: 10;
}

.gabon-flag {
  height: 30px;
  width: auto;
  display: block;
  margin: 0;
}

.version-txt {
  display: block;
  font-size: 8px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin-top: 2px;
}